# Your HiAnime/AniWatch compatible backend API
VITE_API_URL=<your_hosted_api>/api

# AnimePahe M3U8 Proxy - used for all stream servers
VITE_M3U8_PROXY_URL=https://m3u8proxy-itzzzme.vercel.app/m3u8-proxy?url=

# AnimePahe M3U8 Proxy - used specifically for HD-1 server
VITE_HD_1_PROXY_URL=https://m3u8proxy-itzzzme.vercel.app/m3u8-proxy?url=
